{% extends 'base.html' %}


{% block title %}About Us{% endblock title %}

{% block loginOrLogout %}<a class="nav-link active" href="/login_page">Login</a>{% endblock loginOrLogout %}

{% block body %}
<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-1 g-4">
        <div class="col">
            <div class="card text-center">
            <img src="/static/img/cards_1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 my-1">
            <div class="col">
                <div class="card">
                <img src="/static/img/small_cards_2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                <img src="/static/img/small_cards_3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-end">
                <img src="/static/img/small_cards_4.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center">
            <img src="/static/img/cards_5.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 my-1">
            <div class="col">
                <div class="card">
                <img src="/static/img/small_cards_6.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                <img src="/static/img/small_cards_7.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-end">
                <img src="/static/img/small_cards_8.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center">
            <img src="/static/img/cards_9.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}